#body_div {
    /*background-image: url('res/drawable-xxhdpi/bg_cloudy.png');*/
}


.fixed-action-btn {
    display: none;
}

.vertical_center {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}

.container_no_padding {
    padding: 0px;
    margin-right: auto;
    margin-left: auto
}

.no_padding_and_margin {
    padding: 0px;
    margin: 0px
}

.no_padding {
    padding: 0px;
}

.no_margin {
    margin: 0px;
}

.container_margin {
    margin-bottom: 1rem;
}

#current_top {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#current_temp {
    font-size: 3.5rem;
}

.hourly_item {
    margin: 0px;
    /*background-color: grey;*/
}

.card_line {
    height: 1px;
    background-color: #b0bec5;
}

.daily_li {
    margin: 0px;
    padding: 0px;
    color: white;
}

.daily_item {
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.daily_line {
    height: 1px;
    /*background-color: #b0bec5;*/
}

.current_city_outline {
    text-align: center;
    margin: 3rem;
    border: 2px solid lightgray;
    border-radius: 0.7rem;
}

.location_outline {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid lightgray;
    border-radius: 0.7rem;
}


.background_color_clear {
    background-color: #202959;
}

.background_color_sunny {
    background-color: #2193f0;
}

.background_color_cloundy {
    background-color: #2193f0;
}

.background_color_fog {
    background-color: #37474f;
}

.background_color_frost {
    background-color: #37474f;
}

.background_color_rainny {
    background-color: #37474f;
}

.background_color_snow {
    background-color: #37474f;
}

.background_color_storm {
    background-color: #ff009688;
}


